@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300;1,400;1,600;1,700&display=swap");
.darker {
  background: #000;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav-bar {
  width: 100%;
  position: fixed;
  z-index: 99;
  background-color: #fdecec;
  padding: 20px 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  -webkit-box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.15);
}

.nav-bar .box {
  font-size: 22px;
  text-align: start;
}

.nav-bar .list a {
  padding: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.nav-bar .btn {
  padding: .5rem 1rem;
  border-radius: 15px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background: #b04949;
}

.container {
  position: relative;
  padding: 100px 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

.container .left {
  width: 50%;
  height: auto;
}

.container .left h1 {
  font-size: 40px;
  font-weight: 1000;
  margin-bottom: 30px;
}

.container .left p {
  font-size: 25px;
  font-weight: 100;
  margin-bottom: 20px;
}

.container .left .btn {
  width: 150px;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background: #b04949;
  -webkit-box-shadow: 5px 5px 5px grey;
          box-shadow: 5px 5px 5px grey;
}

.container .right {
  width: 50%;
  height: auto;
}

article {
  padding: 10px 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
}

article .image {
  width: 50%;
  height: auto;
}

article .text {
  width: 50%;
  padding: 20px;
}

article .text h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.svg__img {
  fill: #b04949;
}

.svg__blob {
  fill: #fab3b3;
}

main {
  padding: 10px 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main1 {
  width: 50%;
  padding: 20px;
}

main .main1 h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

main .main2 {
  width: 50%;
  height: auto;
}

.alone {
  padding: 10 200px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

section .services__img {
  width: 135px;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 20px;
}

section .btn {
  width: 150px;
  height: 40px;
  background: #b04949;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: bold;
}

section .left {
  width: 350px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 3px 3px grey;
          box-shadow: 3px 3px 3px 3px grey;
  padding: 20px;
}

section .center {
  width: 350px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 3px 3px grey;
          box-shadow: 3px 3px 3px 3px grey;
  padding: 20px;
}

section .right {
  width: 350px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 3px 3px grey;
          box-shadow: 3px 3px 3px 3px grey;
  padding: 20px;
}
/*# sourceMappingURL=style.css.map */