@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300;1,400;1,600;1,700&display=swap');
@import 'variable';

*{

    margin: 0; padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    // overflow: hidden;
    font-family: 'poppins', sans-serif;
    transition: .5s;

    @media(max-width: 576px){
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

html{
    scroll-behavior: smooth;
}

// .grey{
//     background: grey;
//     color:#fff;
// }

.nav-bar{
    width: 100%;
    // height: 10vh;
    // margin: 20px;
    position: fixed;
    z-index: 99;
    background-color: #fab3b3;
    padding: 20px 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    box-shadow: 1px 3px 5px grey;
    // text-align: center;

    @media(max-width: 576px){
        width: 100%;
        padding: 10px 2px;
        margin: 0;
    }

    .box{
        // font-weight: bold;
        font-size: 22px;
        text-align: start;
    }

    .list {
        a{
            padding: 40px;
            text-decoration: none;
            text-transform: uppercase;
            color: #000;

            &:hover{
                text-transform: uppercase;
                font-size: 18px;
            }

            @media(max-width: 576px){
                display: none;
            } 
        }
    }

    .tog{
        font-size: 20px;
    }
    .btn{
        // width: 150px;
        padding: .5rem 1rem;
        border-radius: 20px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        background: #b04949;

        // @media(max-width: 576px){
        //     display: none;
        // }

        &:hover{
            background: #fab3b3;
            color: #000;
        }
    }
}

.container{
    position: relative;
    padding: 100px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    @media(max-width: 576px){
        // width: 100vw;
        padding: 100px 10px 10px 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .left{
        width: 50%;
        height: auto;
        h1{
            font-size: 40px;
            // font-weight: 1000;
            margin-bottom: 20px;
        }
        p{
            // font-size: 25px;
            // font-weight: 100;
            margin-bottom: 40px;
            
        }
        .btn{
            width: 150px;padding: 10px;
            border-radius: 20px;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            color: #fff;
            background: #b04949;
            box-shadow: 5px 5px 5px grey;

            &:hover{
                width: 180px;
                background: #fab3b3;
                color: #000;
            }
        }
        @media(max-width: 576px){
            width: 100%;
            height: auto;
            padding: 0;
        }
    }

    .right{
        width: 50%;height: auto;

        @media(max-width: 576px){
            width: 100%;
        }

        // .svg{
        //     width: 300px;
        //     height: 250px;
        // }
    }
}

article{
    padding: 10px 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;

    @media(max-width: 576px){
        width: 100%;
        padding: 100px 10px 10px 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }


    .image{
        width: 50%;height: auto;
        @media(max-width: 576px){
            width: 100vw;
            padding: 0px 10px 0px 10px;
            margin-top: 0px;
        }
    }

    .text {
        width: 50%;
        padding: 20px;

        @media(max-width: 576px){
            width: 100vw;
            padding: 0px 10px 10px 10px;
            
        }

        h2{
            font-size: 30px;
            margin-bottom: 20px;

        }
    }

}
.svg{
    &__img{
        fill: #b04949;
    }
    &__blob{
        fill: #fab3b3;
    }
    &__color{
        fill: #b04949;
    }
    
}

main {
    padding: 10px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: 576px){
        width: 100vw;
        padding: 0px 10px 0px 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .main1{
        width: 50%;
        padding: 20px;
        @media(max-width: 576px){
            width: 100vw;
            padding: 0px 10px 0px 10px;
        }

        h2{
            font-size: 30px;
            margin-bottom: 20px;
        }
    }

    .main2{
        width: 50%;
        height: auto;
        @media(max-width: 576px){
            width: 100vw;
            padding: 0px 10px 0px 10px;
        }
    }
}

.alone{
    padding: 15px 200px;
    text-align: center;
    @media(max-width: 576px){
        width: 100vw;
        padding: 20px 30px 10px 30px;
        text-align: center;
        
    }
}

section{
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    align-items: center;
    text-align: center;
    margin: 10px 80px;
    @media(max-width: 576px){
        //width: 100vw;
        padding: 0px 10px 10px 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
    }

    .services__img{
        width: 135px;
        justify-self: center;
        margin-bottom: 20px;
    }
    .btn{
        width: 150px;
        height: 40px;
        background: #b04949;
        border-radius: 10px;
        margin-top: 20px;
        font-weight: bold;
        color: #fff;

        &:hover{
            background: #fab3b3;
            color: #000;
            width: 180px;
            text-transform: uppercase;
        }
    }

    .left{
        width: 300px;
        // border: 0px solid grey;
        border-radius: 10px;
        box-shadow: 3px 3px 3px 5px grey;
        padding: 20px;
        @media(max-width: 576px){
            width: 90%;
            // padding: 20px;
            // margin: 0.5rem;
            margin-bottom: 30px;
        }
    }

    .center{
        width: 300px;
        // border: 0px solid grey;
        border-radius: 10px;
        box-shadow: 3px 3px 3px 5px grey;
        padding: 20px;

        @media(max-width: 576px){
            width: 90%;
            margin-bottom: 30px;
            // padding: 0px 10px 10px 10px;
        }
    }

    .right{
        width: 300px;
        // border: 0px solid grey;
        border-radius: 10px;
        box-shadow: 3px 3px 3px 5px grey;
        padding: 20px;

        @media(max-width: 576px){
            width: 90%;
            margin-bottom: 30px;
            // padding: 0px 10px 10px 10px;
            
        }
    }

}

.google{
    // width: 100%;
    // height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    padding: 20px 200px;

    @media(max-width: 576px){
        width: 100vw;
        padding: 10px 10px 10px 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .content{
        width: 50%;
        height: auto;
        @media(max-width: 576px){
            width: 100vw;
            padding: 10px 0px 0px 0px;
            
        }

        h2{
            margin-bottom: 20px;
        }
        p{
            margin-bottom: 20px;
            @media(max-width: 576px){
                width: 100vw;
                padding: 10px 20px 10px 20px;
                
            }
        }
        .btn2{
            width: 200px;padding: 10px;
            border-radius: 25px;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            color: #000;
            background: #b04949;
            margin: 2px;

            &:hover{
                width: 210px;
                background: #fab3b3;
            }
        }
        .btn{
            width: 150px;padding: 10px;
            border-radius: 25px;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            color: #000;
            background: #b04949;
            margin: 2px;

            &:hover{
                width: 160px;
                background: #fab3b3;
            }
            
        }
    }

    .picture{
        width: 50%;
        height: auto;
        @media(max-width: 576px){
            width: 100vw;
            padding: 20px 10px 10px 10px;
        
        }

        .svg__img{
            width: 80%;
        }
    }
}

.contact{
    padding: 50px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    @media(max-width: 576px){
        width: 100vw;
        padding: 10px 0px 10px 0px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .left{
        width: 50%;
        @media(max-width: 576px){
            width: 100vw;
            padding: 10px 10px 10px 0px;
            
        }

        h1{
            margin-bottom: 20px;
            @media(max-width: 576px){
                width: 100vw;
                padding: 10px 30px 0px 30px;
            }
        }
        p{
            @media(max-width: 576px){
                width: 100vw;
                padding: 0px 20px 0px 20px;
            }
        }
    }
    .center{
        width: 50%;
        @media(max-width: 576px){
            width: 100vw;
            padding: 0px 10px 0px 10px;
        }
            

        p{
            line-height: 50px;
        }

        span{
            font-weight: bold;
        }
    }
    .btn{
        width: 15%;
        padding: 10px 20px;
        border-radius: 20px;
        font-weight: bold;
        background: #b04949;
        @media(max-width: 576px){
            width: 50%;
        }
        

        &:hover{
            width: 18%;
            background: #fab3b3;
            @media(max-width: 576px){
                &:hover{
                    width: 90%;
                }
            }
        }


    }

}

footer{
        background: #fab3b3;

        @media(max-width: 576px){
            width: 100vw;
            padding: 20px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    .foot{
        display: grid;
        padding: 20px 200px;
        @media(max-width: 576px){
            width: 100vw;
            padding: 0px;
        }


        .footer2{
            display: flex;
            justify-content: space-between;
            align-items: start;

            @media(max-width: 576px){
                width: 100%;
                // padding: 0px 10px 10px 10px;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                text-align: start;
            }

            h2{
                margin: 50px 0px 15px 0px;
                @media(max-width: 576px){
                    width: 100vw;
                    padding: 0;
                    align-items: start;
                    justify-content: start;
                    text-align: start;
                }
            }
            p{
                line-height: 2rem;
            }
            .button__icon{
                margin: 50px 0px 15px 0px;
                font-size: 25px;
                // font-weight: bold;
                padding: 10px;
                align-self: center;
            }
        }
    }
    .last{
        margin-top: 100px;
        text-align: center;
        @media(max-width: 576px){
            width: 100%;
            padding: 0px;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }
}

.arrow{
    width: 25px;
    height: 25px;
    position: fixed;
    display: inline-flex;
    z-index: 99;
    bottom: -20%;
    right: 3rem;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    // font-weight: bold;
    background: #b04949;

    @media(max-width: 576px){
        right: 1rem;
    }
}

.showarrow{
    bottom: 3rem;
}

